﻿
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    
	margin: 0;
	padding: 0;
	/*background: #FFFFFF url(../images/img01.jpg) repeat-x;*/
	font: 13px Georgia, "Times New Roman", Times, serif;
	background-color: #cbc8c8;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea {
	font: normal 1em Georgia, "Times New Roman", Times, serif;
}

h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0 0px;
	text-decoration: none;
	color: #333333;
}

h1 {
	letter-spacing: -2px;
	font-size: 3.2em;
}

h2 {
   
}

h3 {
	margin-bottom: 0.4em;
	font-size: 1em;
}

p, ol, ul {
	margin: 0 0 2em 1px;
	line-height: 200%;
}

blockquote {
	margin: 0 0 0 2.5em;
	padding-left: 1em;
	border-left: 5px solid #16B1B0;
}


a:hover {
	text-decoration: none;
}

img {
	border: none;
}

/* Header */

#header {
     width:1000px;
    margin: 0 auto;
    text-align:center;
	
}

#header h1, #header p {
	margin: 0;
}

#header h1 {
	float: left;
	padding: 34px 0 0 0;
}

#header p {
	float: right;
	padding: 42px 0 0 0;
	font-size: 1.8em;
}

#header a {
	text-decoration: none;
	color: #333333;
}

/* Menu */

#menu {
    width: 1000px;
    margin: 0 auto;
   background: url(../images/img02.jpg);
   
}

#menu ul {
	padding: 7px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
    padding-right: 30px;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 1.2em;
	font-weight: bold;
	color:#FFFFFF;
    cursor:pointer;
}

/* Page */

#page {
    width:1000px;
    margin: 0 auto;
   }

#extra {
	/*background: url(../images/img06.gif) no-repeat left bottom;*/
}

#UserManual {
    margin-top:10px auto;
    background-color:#4800ff;
   	width: 100%;
    height: 300px;
    box-shadow: 0px 0px 20px 5px rgba(188, 248, 250, 0.46);
	border-radius: 40px;
    color:#17B1B1;
    position:fixed;
    top:1000px;
}


#VcountLbl {
    float:left;
}


/* Content */
.Status {
    color:red;
    width: 900px;
    margin:10px auto;
    box-shadow: 0px 0px 20px 5px rgba(188, 248, 250, 0.46);
	border-radius: 40px;
    background-color:#FFFFFF;
	padding-top:25px;
	padding-bottom:25px;
    padding-right:25px
}

    #lblStatus {
        color:red;
        font-size:large;
    }

#Results {
 	width: 900px;
    margin:5px auto;
    box-shadow: 0px 0px 20px 5px rgba(188, 248, 250, 0.46);
	border-radius: 40px;
    color:#17B1B1;
   	min-height:100px;
    background-color:#FFFFFF;
	padding-top:25px;
	padding-bottom:25px;
}

    #Results h2 {
        height: 33px;
	padding: 4px 0 0 10px;
	text-decoration:underline;
	font-size: 1.6em;
     color:#17B1B1;
     margin-right:20px;
    }

#content_main {
    float: right;
	width: 300px;
    height: 800px;
    color:#17B1B1;
    
}

#content_main h2 {
   	padding: 4px 0 0 10px;
	text-decoration:underline;
	font-size: 1.6em;
    color:#17B1B1;
}

.content {
    padding: 20px 25px;
    background-color:#FFFFFF;
	float: right;
	height: 600px;
    box-shadow: 0px 0px 20px 5px rgba(188, 248, 250, 0.46);
	border-radius: 40px;
    color:#17B1B1;
    width:300px;
}

#content_kr {
    display:none;
   
}

h4 {
     color:#17B1B1;
    width: 128px;
}


.post {
	padding: 40px 40px 0 40px;
}

.post ol, .post ul {
	list-style-position: inside;
}

.post .title {
}

.post .title h2 {
}

.post .title p {
}

.post .title p a {
}

.post .entry {
}

.post .links {
	padding: 2px 20px;
	background: #CDFAFB;
	text-align: right;
}

.post .links a {
	text-decoration: none;
	font-weight: bold;
	color: #0B8785;
}

.post .links a:hover {
	text-decoration: underline;
}

.post .links .more {
}

.post .links .comments {
}

/* Sidebar */

#sidebar {
    width:600px;
	float: left;
	height: 800px;
   
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 20px;
}

#sidebar li li {
	font-size: .85em;
}

#sidebar h2 {
	height: 33px;
	padding: 4px 0 0 10px;
	text-decoration:underline;
	font-size: 1.6em;
}

/* Search */

#searchform {
	padding: 20px;
}

#search h2 {
	background: url(../images/img08.jpg) no-repeat;
}

#search #x {
}

#search #s {
	width: 155px;
}

#search br {
}

/* Calendar */



.instructions {
    padding: 20px 25px 20px 20px;
    margin-left: 5px;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(188, 248, 250, 0.46);
	border-radius: 40px;
    height:600px;
    color:#17B1B1;
    width:550px;
}

.instructions h2 {
        color:#17B1B1;  
 }

    .instructions p {
        font-size:large;
    }

#inst_kr {
    display:none;    
}

#calendar table {
	background: #FFFFFF;
	border: 1px solid #16B1B0;
	text-align: center;
}

#calendar thead {
	background: #16B1B0;
	color: #FFFFFF;
}

#calendar tbody td {
	background: #FFFFFF;
	border: 1px solid #BCF8FA;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #today {
	background: #BCF8FA;
	border: 1px solid #16B1B0;
	font-weight: bold;
	color: #16B1B0
}

/* Footer */

#footer {
	clear: both;
	width: 1055px;
	margin: 0 300px 0 0px;
	padding: 30px 0;
	background: url(../images/img11.gif) no-repeat;

}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}

#footer a {
	text-decoration: none;
    
}

.buttons {
    color: #17B1B1;
    width: 120px;
    font-weight: bold;
}

.labels{
	font-size:large;
	color:#1c2d64;
	font-weight:bold;

}
.data{
	font-size:large;
	color:#1c2d64;
	
}

.cells{
	padding:10px;
}

.row{
	border-bottom:5px double #1c2d64;
}

